/*
Fichier CSS pour la mise en pages utilisé dans toutes les pages.
*/
/* 
    Créé Le : 17 mai 2020, 13:55:19
    Auteurs : Nehemie David & Dorrian Rastello & Ilan Marrache
    
*/


.imageslogo1{
    width: 250px!important;   /*propriétés de l'image de gauche*/
    height: 250px!important;
    margin-right: 45px;
}

.imageslogo2 {          /*propriétés de l'image de droite*/
    width: 200px!important;
    height: 200px!important;
}

img.card-img-top{      /*propriétés des images affichées dans le site*/
    width: 100%;   
    height: 180px;
    text-align: center;
    
}


div .card-group {
    align-content: center;
}

footer {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: fixed; /* Le conteneur est fixé en fonction de ses coordonnées (à 0px du bas) */
    bottom: 0px; /* Bas */
    height: 35px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
    background-color:#2d2d2d; /* Couleur de fond */
    color: #bbb; /* Couleur du texte */
    text-align:center; /* Texte centré */
}

footer p {
    font-size: large; /* Le texte est grossi en L */
    margin-top: 20px;
}
.carousel-control-prev-icon{
        background-color: black;

}
.carousel-control-next-icon {
    
    background-color: black;
    
}

#border {
    margin-bottom: 20px;
}



.carousel-indicators li {
    border: 2px dotted;
    border: black;
    background-color: black;
}

#sous-titre {
    text-align: center;
    color: white;
    background-color: #112;
    margin-bottom: 0px !important;
    font-size: 35px;
    border: 1rem solid;
    border-color: #112;
    text-decoration: underline;
}

#menuprincipal {
    background-color: #09C !important;
}
#bandeaux {
    background-color: #0B5 !important;
}
