/*
Fichier CSS pour la mise en pages utilisé dans toutes les pages.
*/
/* 
    Créé Le : 17 mai 2020, 13:55:19
    Auteurs : Nehemie David & Dorian Rastello & Ilan Marrache
    
*/


.imageslogo1{
    width: 40px;                     /*propriétés de l'image de gauche.  */
    height: auto;
    text-align: left;
}

.imageslogo2 {                       /*propriétés de l'image de droite.  */
    width: 40px;
    height: auto;
    text-align: right;
}

img .card-img-top{                    /*propriétés des images affichées dans le site.    */
    text-align: center;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;      
}




div.card-group {                    /*    Centre toutes les images dans leur box rèspective.      */
    align-content: center;
}

footer {                                       /*    Ajout du pied de page (Créé par M. Gil).    */
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: fixed; 
    bottom: 0px; 
    height: 35px;
    width: 100%; 
    background-color:#2d2d2d;
    color: #bbb; 
    text-align:center; 
}

footer p {                                      /*    Modification du paragraphe du pied de page (Créé par M. Gil).    */
    font-size: large; 
    margin-top: 20px;
}

.carousel-control-prev-icon{                    /*    Changement de la couleur de fond du bouton précédent du caroussel (Suite à la problématique d'invisibilité de celui-ci lors de l'affichage d'images blanches).  */
    background-color: black;
}

.carousel-control-next-icon {                   /*     Changement de la couleur de fond du bouton suivant du carousel (Suite à la problématique d'invisibilité de celui-ci lors de l'affichage d'images blanches). */
    background-color: black;
}

.carousel-indicators li {                       /*     Changement de la couleur de l'indicateur de possition d'images sur le carousel (Suite à la problématique d'invisibilité de celui-ci lors de l'affichage d'images blanches). */
    border: 2px dotted;
    border: black;
    background-color: black;
}


#menuprincipal {                                /*      Colorination de la barre de navigation (ou menu principal).    */
    background: #BDBDBD !important;
    background-position: top;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 80px;
    padding-right: 80px;
    color: #dbdbdb;
    border-radius: 4px;
}
#bandeaux {                                    /*   Colorisation de l'accroche du site.      */
    background-color: #16A085 !important;
    background-position: center;
    padding-top: 150px; 
    padding-bottom: 150px;
    margin-bottom: 40px;
}

#bandeaux-bottom {                                 /*   Colorisation de l'affichage du titre du site.  */
    background-color: rgba(28, 40, 51, 0.8);
    background-position: bottom;
    background-position: center;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 0.8;
    width: 100%;
    height:auto;
}

.brm-headerTop {                    /*      Colorination de la barre de navigation (ou menu principal).    */
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #66666621;
}

.brm-headerBottom {                           /*   Colorisation de l'affichage du titre du site.  */
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #66666621;
}

a.link {                                    /*     Changment de l'aparence des liens sur le site.    */
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    color: white;
    text-decoration: none;   
}

.a-img-txt{                                /*     Changment de l'aparence des images de la page d'acceuil.    */
  display:grid; 
}
 
/* les enfants se superposent */
.a-img-txt>*{                               /*     Changment de l'aparence des images de la page d'acceuil.    */
  grid-area:1/1/-1/-1; 
  /* raccourci pour grid-row et grid-column */
}
 
                                           /*     Transparence du texte superposé aux images (Par défaut).    */
.a-txt{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  opacity:0;
  text-align:center; /* Texte centré */
  transition:opacity .6s;
}
 
.c1{                                        /*     Changement de la couleur du texte superposé aux images. */
    background:#000000; /* avec alpha */
}
 
.a-txt:hover{                           /*     Affichage du texte superposé aux images (Au survol).    */
  opacity:0.8;
  border-radius: 5px;
}
 
                                        /*    Décoration d'arière plan.    */
body {
    background: url(../logo/fond4.png) no-repeat white; /*#0F0F0F*/
    background-size: cover;
    background-attachment: fixed;
}

.fond{                                      /*    Décorations de la division parente aux images des pages.     */
    background-color: rgba(28, 40, 51, 0.8);
    box-sizing: border-box;
    height: 78vh;
    padding: 24px;
    padding-top: 34px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 5px;
    margin-bottom: 70px;
}

.col{                                       /*    Réalisation d'un espacement entre les images du menu.     */          
    margin-bottom: 60px;
    border-radius: 5px;
}
 
img{                                        /*    Desciption de la taile des images sur le site.     */    
  max-width:100%;
  height:auto;
}

a{                                          /*    Supresion de la couleur bleu des liens.     */    
  text-decoration:none;
}


h5{                                         /*    Changement colorisation des titres de niveau 5.     */    
    color: #fff;
    text-align:center;
    font-size: 50px;
}

h3{                                          /*    Changement colorisation des titres de niveau 3.     */
    text-align: center;
    margin-right: 50px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.carousel-item {                             /*     Définition des tailles des images présentes dans le caroussel.            */
    width: 100%;
    height:auto;
}

.carousel-inner{                            /*   Ajout d'un espacement entre la fin du caroussel et le début de l'affichage des images.         */
    margin-bottom: 40px;
    size: 100px;
}


#full-back {
    width: 100%;
    height:auto;
}

videos {
    background-color: rgba(28, 40, 51) !important;
}

div.card{
background-color: rgba(28, 40, 51, 0.8) !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 25px !important;
}


.carousel-indicators {      
    bottom: -28px !important;
}


.card:hover { /*Changement du fond quand on passe la sourie devant une division de classe "card"*/
background-color: gray!important;
}

.col:hover {    /*Changement du fond quand on passe la sourie devant une division de classe "col"*/
    background-color: gray!important;
}
